<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <h1>this is your profile page</h1>
    <button id="logout">Logout</button>
    <script>
        const logoutButton=document.querySelector('#logout');
        logoutButton.addEventListener('click',async (e)=>{
            console.log("logout button clicked");
            try{
             const response =await fetch('http://localhost:3000/user/logout');
             console.log(response);
             if(!response.ok){
                throw new Error ("response is not ok!!");
             }
             const data =await response.json();
             window.location.href=data.location;
            }
            catch(err){
                console.log("error while fetching logout route");
            }

        })
        
    </script>
</body>
</html>